Options -Multiviews
RewriteEngine On
# ESTE ULTIMO SOLO PARA HOSTING QUE APUNTE A LA RAIZ
# DESCOMENTAR EN HOSTING
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

Header set Access-Control-Allow-Origin "*"
